<div class="container">
    <h1>Profile</h1>
  	<hr>
	<div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="http://bootdey.com/img/Content/user_{{techie.image ? techie.image : 1}}.jpg" class="avatar img-circle" alt="avatar">
          <div class="row" style="text-align:center;">
          <label class="control-label">{{techie.name}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <div class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="techie.name" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Profeession:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="techie.profession" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="techie.phone" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Avatar:</label>
            <div class="col-lg-8">
              <label class="radio-inline" style="vertical-align:middle;">
                    <input type="radio" ng-control="image" [value]='1' [(ngModel)]="techie.image">
                    <img  style="width:50px;" src="http://bootdey.com/img/Content/user_1.jpg" class="avatar img-circle" alt="avatar">
                  </label>
                  <label class="radio-inline">
                    <input type="radio" ng-control="image" [value]='2' [(ngModel)]="techie.image">
                    <img style="width:50px;" src="http://bootdey.com/img/Content/user_2.jpg" class="avatar img-circle" alt="avatar">
                  </label>
                  <label class="radio-inline">
                    <input type="radio" ng-control="image" [value]='3' [(ngModel)]="techie.image">
                    <img style="width:50px;" src="http://bootdey.com/img/Content/user_3.jpg" class="avatar img-circle" alt="avatar">
                  </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" (click)="update(techie)" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" (click)="goBack()" class="btn btn-default" value="Back">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<hr>
